EVENTREGISTRY_API_KEY=1234567890

EVENTREGISTRY_SOURCE_URIS=aljazeera.com,apnews.com,bbc.com,foxnews.com,ms.now,nytimes.com,politico.com,reuters.com,scmp.com,washingtonpost.com,wsj.com,nypost.com,nationalreview.com,dailywire.com
DATABASE_URL=postgres://mdg_postgres:mdg_password@localhost:5432/mdg
LOOKBACK_DAYS=1
SEED_RUN=false